h1{
    font-weight: normal;
    text-align: center;
    background: rgb(60, 182, 11);
}

body{
    font-family: Consolas, Verdana;
}

.uno ,.dos ,.tres{
    font-size: 20px;
    text-align: justify;
    line-height: 25px;
    /* text-decoration: underline; */
    text-transform: lowercase;
    /* letter-spacing: 20px;
    word-spacing: 5px; */
    text-shadow: 2px 2px 2px #1130df;
}